.background_img {
    margin-top: 25vh;
    margin-left: 9vw;
    background-repeat: no-repeat;
} 

.background_txt {
    text-align: center;
    height: fit-content;
    font-size: 4.5vh;
    font-weight: bold;
    color: #414C62;
}

.background_subtxt {
    text-align: center;
    font-size: 2.5vh;
    font-weight: 200;
    color: #414C62;
}