#drop-area {
    width: 34.1vw;
    margin-bottom: 0.5vh;
    background: #384D6B;
    padding: 1vh;
    border-radius: 20px;
    border-style: solid;
    text-align: center;
    display: block;
  }
  
  #img-view {
    width: auto;
    height: 43vh;
    border-radius: 20px;
    border: 2px dashed aliceblue;
    background-repeat: no-repeat;
    background-size: cover; 
  }
  
  #img-view img {
    padding-top: 1vh;
    height: 25vh;
  }